<div class="navbar-custom">
    <div class="container-fluid">

        <!-- Last header section -->
        <ul class="list-unstyled topnav-menu float-end mb-0">
            <li class="notification-list topbar-dropdown" ngbDropdown>
                <a class="nav-link position-relative bell-icon-centered" href="javascript:void(0)" role="button" ngbDropdownToggle>
                    <fa-icon [icon]="fa.faBell" size="xs" class="bell-icon"></fa-icon>
                    <span class="badge bg-danger rounded-circle noti-icon-badge"></span>
                    <span class="badge bg-danger rounded-circle noti-icon-badge"></span>
                </a>
                <div class="dropdown-menu-end dropdown-lg p-0" ngbDropdownMenu>
                    <app-notifications></app-notifications>
                </div>
            </li>
            <li class="notification-list topbar-dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle nav-user me-0" href="javascript:void(0)" role="button" ngbDropdownToggle>
                    <img src="http://cdn.onlinewebfonts.com/svg/img_264570.png" alt="user-image" class="rounded-circle">
                    <span class="pro-user-name ms-1">
                        Ankit Kumar <fa-icon [icon]="fa.faAngleDown" size="xs"></fa-icon>
                    </span>
                </a>
                <div ngbDropdownMenu aria-labelledby="profileMenuDropdown" class="dropdown-menu-end profile-dropdown">
                    <a class="notify-item" ngbDropdownItem>
                        <span style="cursor: pointer;">
                            <span class="bi-box-arrow-in-right"></span> &nbsp; Logout
                        </span>
                    </a>
                </div>
            </li>
        </ul>

        <!-- Logo section -->
        <div class="logo-box">
            <a class="logo logo-light">
                <span class="d-none d-lg-block">
                    <span class="logo-sm" (click)="changeSidebarWidth()">
                        <img src="assets/images/hamburger.svg" alt="" width="24">
                    </span>
                </span>
                <span class="d-block d-lg-none">
                    <span class="open-left logo-sm" (click)="toggleMobileMenu($event)">
                        <img src="assets/images/hamburger.svg" alt="" width="24">
                    </span>
                </span>
                <span class="logo-lg">
                    <img src="assets/images/EMSmart_logo.svg" alt="" width="150">
                </span>
            </a>
        </div>

        <!-- Arrow button -->
        <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
            <li class="topbar-arrow">
                <button class="button-menu-mobile d-none d-lg-block" (click)="changeSidebarWidth()">
                    <fa-icon [icon]="fa.faArrowLeft" size="xs"></fa-icon>
                </button>
            </li>

            <li>
                <button class="button-menu-mobile open-left d-block d-lg-none" *ngIf="layoutType!=='horizontal'"
                    (click)="toggleMobileMenu($event)">
                    <fa-icon [icon]="fa.faArrowLeft" size="xs"></fa-icon>
                </button>
            </li>

            <li>
                <!-- Mobile menu toggle (Horizontal Layout)-->
                <a class="navbar-toggle nav-link" [ngClass]="{'open': topnavCollapsed}"
                    (click)="toggleMobileMenu($event)" *ngIf="layoutType==='horizontal'">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </li>

        </ul>

        <!-- Header logo section -->
        <div class="topbar-logo">
            <img src="assets/images/EMS_logo.svg" alt="" />
        </div>

        <div class="clearfix"></div>
    </div>
</div>