::ng-deep.bell-icon {
    display: inline-flex;
    vertical-align: middle;
    svg{
        background: #ffffff;
        padding: 10px;
        border-radius: 2px;
    }
}
.pro-user-name{
    vertical-align: middle;
}
.nav-link:hover, .nav-link:focus{
    outline: none;
}